{% extends 'console/base.html' %}


{% block content%}
  <script src="/static/js/net.js"></script>


 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Virtual Networks
      </h1>
      <button id="btn_update" class="btn btn-info">
        <span class="fa fa-fw fa-refresh"></span>Update</a>
      </button>

    </section>

    <!-- Main content -->
    <section class="content">

      <!-- Your Page Content Here -->
      <div id="content-section">
          {%  for vhost in vhosts %}
            <div class="panel panel-primary">
              <div class="panel-heading">
                <h3 class="panel-title">{{vhost.name}}</h3>
              </div>
              <div class="panel-body">
                 <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                          <th width="30%" class="info">Name</th>
                          {% if vhost.VType.vendor == "VB" %}
                          <th width="25%" class="info">Type</th>
                          {% else %}
                          <th width="25%" class="info">Virtual Switch</th>
                          {% endif %}
                          <th width="30%" class="info">Actions</th>
                        </tr>
                     </thead>
                    {% for vsw in vswitch %}
                        {% if vsw.VHost.name == vhost.name %}
                           <tbody>
                               <tr>
                                    <td>{{vsw.name}}</td>
                                    <td>{{vsw.type }}</td>
                                    <td>
                                        <div class="btn-group-xs " id="chg_button_{{ vsw.id }}">
                                           {% csrf_token %}
                                           <input type="hidden" id="vsw_id" name="vsw_id" value='{{vsw.id}}'>
                                           <input type="hidden" id="vsw_name" value="{{vsw.name}}">
                                           <input type="hidden" id="vsw_type" value="{{ vsw.type }}">
                                           <input type="hidden" id="vh_name" value="{{ vsw.VHost.name }}">                                           <input type="hidden" id="vh_name" value="{{ vsw.VHost.name }}">
                                           <input type="hidden" id="vh_id" value="{{ vsw.VHost.id }}">
                                           <input type="hidden" id="vh_vendor" value="{{ vsw.VHost.VType.vendor }}">
                                           <input type="button" id="btn_delete_network" class="btn btn-danger" value="Delete">
                                       </div>
                                     </td>
                                </tr>
                           </tbody>
                       {% endif %}
                    {%  endfor %}
                 </table>
              </div><!-- .panel.body -->
              <div class="panel-footer">
                  <div class="row">
                      <div class="col-md-12">
                          <div class="btn-group-sm">
                              <input type="button" id="btn_open_from" class="btn btn-info" value="Add">
                          </div>
                      </div>
                  </div>
              </div>
            </div>
          {%  endfor %}
      </div>
      <!-- Modal -->
      <div class="modal fade" id="md_msg" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Message</h3>
                    </div><!-- .modal-header -->
                    <div class="modal-body">
                            <p id="info_msg"></p>
                    </div><!-- .modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info" data-dismiss="modal">Close</button>
                    </div><!-- .modal-footer -->
              </div><!-- Modal content-->
            </div><!-- .modal-dialog -->
      </div><!-- .modal -->
      <div class="modal fade" id="md_delete_net" role="dialog">
          <div class="modal-dialog">
              <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Warning: Virtual Network Deletion</h3>
                    </div><!-- .modal-header -->
                    <div class="modal-body">
                            <p id="delete_msg"></p>
                            <input type="hidden" id="del_vsw" value="">
                    </div><!-- .modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" id="btn_delete_network_ok" class="btn btn-danger" value="Delete">
                    </div><!-- .modal-footer -->
              </div><!-- Modal content-->
            </div><!-- .modal-dialog -->
      </div><!-- .modal -->
      <div class="modal fade" id="md_net_form" role="dialog">
          <div class="modal-dialog modal-lg">
              <div class="modal-content">
                  <div class="modal-body">
                       <div class="box box-primary">
                            <div class="box-header with-border">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h3 class="box-title">Virtual Network</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="box-group">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h4>Please confirm the following data:</h4>
                                        </div>
                                    </div><!-- .row -->
                                    <div class="panel box box-primary">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">General Data</h4>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="form-group">
                                                    <div class="col-md-2">
                                                        <label for="id_name">Name </label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <input class="form-control" id="id_name" maxlength="30" name="name" type="text">
                                                    </div>
                                                    <div class="col-md-2">
                                                        <label for="id_VHost">Virtual Host</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <select class="form-control" id="id_VHost">

                                                        </select>
                                                    </div>
                                                </div><!-- .form-group -->
                                            </div><!-- .row -->
                                        </div><!-- .box body -->
                                    </div><!-- .panel General Data -->
                                    <div id="Net_Panel" style="display: none;">
                                    <div class="panel box box-primary">
                                        <div class="box-header with-border">
                                            <h2 id="np_title" class="box-title"></h2>
                                        </div>
                                        <div class="box-body">
                                            <div class="row">
                                                <div class="form-group">
                                                     <div class="col-md-2">
                                                        <label for="id_Ntype">Net Type</label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <select class="form-control" id="id_NType">
                                                        </select>
                                                    </div>
                                                </div><!-- .form-group -->
                                                <div id="new_vswitch" class="form-group">
                                                </div>

                                            </div><!-- .row -->
                                         </div><!-- .box body -->
                                    </div><!-- .panel General Data -->
                                    </div><!-- .Net-Panel -->

                                </div><!-- .box-group-->
                            </div><!-- .box-body-->
                       </div><!-- /.box -->

                    </div><!-- .modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <input type="button" id="btn_create_net" class="btn btn-primary" value="Create">
                    </div><!-- .modal-footer -->
              </div><!-- Modal content-->
            </div><!-- .modal-dialog -->
      </div><!-- .modal -->




    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->


{% endblock content %}